<a href="https://colab.research.google.com/github/natashanuto/CEE2/blob/main/Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exerc√≠cio 1:
Crie um c√≥digo que escreva "Ol√°, seu primeiro nome".

In [1]:
print("Ol√°, Natasha")

Ol√°, Natasha

## Exerc√≠cio 2: Convertendo entre int e float

Crie tr√™s vari√°veis: uma do tipo `int`, uma do tipo `float` e uma do tipo `bool`. Exiba os valores de cada uma dessas vari√°veis e o tipo delas. Em seguida, converta as vari√°veis de acordo com as instru√ß√µes abaixo:

* Converta o n√∫mero inteiro para float e exiba o resultado.
* Converta o n√∫mero decimal (float) para int e exiba o resultado.
* Converta o valor booleano para int e exiba o resultado.
* Converta o valor booleano para float e exiba o resultado.

In [4]:
x = int("1")
y = float("1.0")
w = bool(0)

print(x, type(x))
print(y, type(y))
print(w, type(w))

x = float(x)
print(x, type(x))

y = int(y)
print(y, type(y))

w = int(w)
print(w, type(w))

w = float(w)
print(w, type(w))

1 <class 'int'>
1.0 <class 'float'>
False <class 'bool'>
1.0 <class 'float'>
1 <class 'int'>
0 <class 'int'>
0.0 <class 'float'>

## Exerc√≠cio 3: Opera√ß√µes b√°sicas com int e float

Crie duas vari√°veis: uma contendo um n√∫mero inteiro igual a 5 (`num1 = 5`) e outra contendo um n√∫mero decimal float igual a 2.5 (`num2 = 2.5`). Em seguida, execute as seguintes opera√ß√µes e exiba o resultado:

* Adi√ß√£o  (`num1 + num2`)
* Subtra√ß√£o (`num1 - num2`)
* Multiplica√ß√£o (`num1 * num2`)
* Divis√£o (`num1 / num2`)

Observe que a convers√£o para float √© feita automaticamente.

In [6]:
num1 = int(5)
num2 = float(2.5)

a = num1 + num2
print(a)
s = num1 - num2
print(s)
m = num1 * num2
print(m)
d = num1 / num2
print(d)

7.5
2.5
12.5
2.0

## Exerc√≠cio 4: Calculando a √°rea de um c√≠rculo

Crie um programa que calcule a √°rea de um c√≠rculo, dada a f√≥rmula: $A = \pi * r^2$. Atribua um valor para o raio (como float) e mostre o resultado da √°rea. Utilize œÄ = 3.14159.

* O resultado deve ser apresentado como "A √°rea do c√≠rculo √©: {area}"

In [10]:
import math

r = float(input())
a = math.pi * r**2

print(f"A √°rea do c√≠rculo √©: {a}")

3
A √°rea do c√≠rculo √©: 28.274333882308138

## Exerc√≠cio 5: Conversor de Temperatura

Crie um programa que converta uma temperatura de graus Celsius para Fahrenheit.

A f√≥rmula de convers√£o √©:
$$
Fahrenheit = Celsius \times \frac{9}{5} + 32
$$

Obs: para receber a temperatura em Celsius do usu√°rio, utilize o comando:

 * `celsius = float(input("Digite a temperatura em Celsius: "))`

In [11]:
c = float(input())
f = c * (9/5) + 32

print(f)

2
35.6

## Exerc√≠cio 6: Calculadora de IMC

Crie um programa que recebe calcula o √çndice de Massa Corporal (IMC). Para isto voc√™ deve receber do usu√°rio o peso e a altura.

A f√≥rmula do IMC √© dada por:
$$
IMC = peso / altura^2,
$$
em que peso √© dado em kg e a altura em metros.

Obs: utilize os seguintes comandos para ser o peso e a altura:
* `peso = float(input("Digite o peso em quilogramas: "))`
* `altura = float(input("Digite a altura em metros: "))`

In [12]:
p = float(input())
a = float(input())

imc = p / (a)**2

print(imc)

1
2
0.25

## Exerc√≠cio 7: Modificando uma lista

Dada a lista `frutas = ["ma√ß√£", "banana", "laranja", "uva"]`, fa√ßa o seguinte:

* Substitua a fruta "banana" por "abacaxi".
* Adicione a fruta "morango" ao final da lista.
* Exiba a lista resultante.
* Coloque a lista em ordem alfab√©tica.
* Substitua a fruta "ma√ß√£" por "pera".
* Exiba a lista e verifique se ainda esta ordenada. Caso n√£o esteja, ent√£o ordene e exiba novamente.

In [27]:
frutas = ["ma√ß√£", "banana", "laranja", "uva"]

print(frutas.index("banana"))

frutas[1] = "abacaxi"
print(frutas)

frutas.append("morango")
print(frutas)

frutas.sort()
print(frutas)

frutas.index("ma√ß√£")
frutas[2] = "pera"

print(frutas)
frutas.sort()
print(frutas)

1
['ma√ß√£', 'abacaxi', 'laranja', 'uva']
['ma√ß√£', 'abacaxi', 'laranja', 'uva', 'morango']
['abacaxi', 'laranja', 'ma√ß√£', 'morango', 'uva']
['abacaxi', 'laranja', 'pera', 'morango', 'uva']
['abacaxi', 'laranja', 'morango', 'pera', 'uva']

## Exerc√≠cio 8: Trabalhando com tupla

Dada a tupla `dados = ("Maria", 28, "Engenheira", "S√£o Paulo")`:
- Exiba o √≠ndice onde est√° o valor "Engenheira" na tupla.
- Fa√ßa o desempacotamento da tupla nas vari√°veis: nome, idade, profissao e cidade.
- Utilize f-string para formar e apresentar a seguinte frase: "Maria tem 28 anos, √© Engenheira e mora em S√£o Paulo."

In [30]:
dados = ("Maria", 28, "Engenheira", "S√£o Paulo")

print(dados.index("Engenheira"))

nome, idade, profissao, cidade = dados
print(nome)
print(idade)
print(profissao)
print(cidade)

print(f"{nome} tem {idade} anos, √© {profissao} e mora em {cidade}.")

2
Maria
28
Engenheira
S√£o Paulo
Maria tem 28 anos, √© Engenheira e mora em S√£o Paulo.

## Exerc√≠cio 9: Opera√ß√µes com `set`.

Crie um set chamado `frutas` contendo as frutas `"ma√ß√£", "banana", "laranja"` e `"uva"` e ent√£o:
* exiba o conte√∫do;
* adicione a fruta "abacaxi" e exiba o resultado;
* remova o elemento "banana" e exiba o resultado;
* fa√ßa a uni√£o do set `frutas` com o set `vermelhas = {"morango", "cereja", "amora"}`, guarde em `frutas` e exiba o resultado;
* exiba a interse√ß√£o do conjunto `frutas` com o conjunto `frutas2 = {"banana", "pera", "morango"}`.

In [33]:
frutas = {"ma√ß√¢", "banana", "laranja", "uva"}
print(frutas)

frutas.add("abacaxi")
print(frutas)

frutas.discard("banana")
print(frutas)

vermelhas = {"morango", "cereja", "amora"}
frutas = frutas.union(vermelhas)
print(frutas)

frutas2 = {"banana", "pera", "morango"}
print(frutas.intersection(frutas2))

{'laranja', 'uva', 'ma√ß√¢', 'banana'}
{'abacaxi', 'uva', 'laranja', 'ma√ß√¢', 'banana'}
{'abacaxi', 'uva', 'laranja', 'ma√ß√¢'}
{'laranja', 'ma√ß√¢', 'abacaxi', 'morango', 'cereja', 'uva', 'amora'}
{'morango'}

## Exerc√≠cio 10: utilizando range

1. exiba o resultado do `range(0, 30, 2)`;
2. exiba todos os n√∫meros pares entre 50 e 70;
3. exiba todos os n√∫meros √≠mpares entre 50 e 70;
4. exiba todos os n√∫meros que s√£o multiplos de 5 entre 17 e 69.

In [37]:
for i in range(0, 30, 2):
  print(i)

for i in range(50, 71, 2):
  print(i)

for i in range(51, 70, 2):
  print(i)

for i in range(20, 69, 5):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
50
52
54
56
58
60
62
64
66
68
70
51
53
55
57
59
61
63
65
67
69
20
25
30
35
40
45
50
55
60
65

## Exerc√≠cio 11: Crie um programa que pergunte o pre√ßo de um produto e verifique se ele deve aplicar algum desconto:

* Se o pre√ßo for maior que R$ 1000, aplique um desconto de 10%.
* Caso contr√°rio, aplique um desconto de 5%.

Exiba o valor final do produto ap√≥s o desconto.

In [44]:
p = float(input())

if p > 0:
  if p > 1000:
    p = p - (0.1 * p)
    print(p)
  else:
    p = p - (0.05 * p)
    print(p)
else:
  print("invalido")

-2
invalido

## Exerc√≠cio 12: Escreva um programa que atribua men√ß√£o para um aluno da UNB de acordo com o padr√£o da universidade. Inicialize perguntando a Nota Final e a Frequ√™ncia do aluno. Classifique de acordo com os crit√©rios:
- Frequ√™ncia $ < $ 70\% : SR
- Frequ√™ncia $\geq$ 70\% e $0 \leq NF < 3$: II
- Frequ√™ncia $\geq$ 70\% e $3 \leq NF < 5$: MI
- Frequ√™ncia $\geq$ 70\% e $5 \leq NF < 7$: MM
- Frequ√™ncia $\geq$ 70\% e $7 \leq NF < 9$: MS
- Frequ√™ncia $\geq$ 70\% e $9 \leq NF \leq 10$: SS

In [56]:
nf = float(input())
fq = float(input())


if fq >= 70 and 0 <= nf <= 10:
  if 0 <= nf < 3:
    print("ii")
  elif 3<= nf < 5:
    print("mi")
  elif 5<= nf < 7:
    print("mm")
  elif 7<= nf < 9:
    print("ms")
  else:
    print("ss")
elif 0 < fq < 70:
  print("sr")
else:
  print("invalido")

9
0
invalido

## Exerc√≠cio 13: Soma dos primeiros 100 n√∫meros

a) Use um la√ßo `while` para calcular a soma dos primeiros 100 n√∫meros inteiros (de 1 a 100).

b)  Use um la√ßo `for` para calcular a soma dos primeiros 100 n√∫meros inteiros (de 1 a 100).

In [59]:
i = 1
soma = 0

while i < 101:
  soma += i
  i += 1

print(soma)

soma2 = 0
for i in range(101):
  soma2 += i

print(soma2)

5050
5050

## Exerc√≠cio 14: N√∫meros √≠mpares com `continue`

Use um la√ßo `for` para exibir todos os n√∫meros de 1 a 10, exceto os n√∫meros √≠mpares (use o `continue`).

In [60]:
for i in range(1,11):
  if i % 2 != 0:
    continue
  else:
    print(i)

2
4
6
8
10

## Exerc√≠cio 15: Sequ√™ncia de Fibonacci

Use um la√ßo `while` para calcular e exibir os primeiros 15 termos da sequ√™ncia de Fibonacci.

A sequ√™ncia de Fibonacci come√ßa com 0 e 1, e os pr√≥ximos n√∫meros s√£o a soma dos dois n√∫meros anteriores.

Sequ√™ncia: 0, 1, 1, 2, 3, 5, ...

In [64]:
i = 1
x = 0
y = 1
lista = [x, y]

while i < 16:
  soma = x + y
  lista.append(soma)
  x = y
  y = soma
  i += 1

print(lista)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

## Exerc√≠cio 16: An√°lise de N√∫meros

Crie uma fun√ß√£o chamada `analisar_numeros` que recebe uma lista de n√∫meros inteiros como par√¢metro.

A fun√ß√£o deve retornar dois objetos:

- Uma nova lista contendo apenas os n√∫meros pares da lista original.

- Um dicion√°rio com as seguintes informa√ß√µes:

  - "maior": o maior valor da lista

  - "menor": o menor valor da lista

  - "soma": a soma de todos os valores da lista

In [ ]:
def analisar_numeros(lista*):
  nova = list()
  for i in lista:
    if i % 2 == 0:
      nova.append(i)

## Exerc√≠cio 17: Converter Celsius em Fahrenheit

Crie uma fun√ß√£o chamada `celsius_para_fahrenheit` que recebe uma temperatura em graus Celsius e retorna a temperatura equivalente em Fahrenheit. A f√≥rmula de convers√£o √©: $ ùêπ = ùê∂ \times 9/5 + 32$.

- Fa√ßa um print do resultado.

- Documente a fun√ß√£o.

## Exerc√≠cio 18:

Para a lista abaixo, escreva um programa que pe√ßa ao usu√°rio um √≠ndice e ent√£o apresente o elemento da lista na posi√ß√£o correspondente. Trate os poss√≠veis erros:
* O valor digitado n√£o for um n√∫mero (ValueError).
* O √≠ndice estiver fora do intervalo da lista (IndexError).

```python
lista = ["ma√ß√£", "banana", "laranja", "uva", "melancia"]
```

## Exerc√≠cio 19:

Crie uma fun√ß√£o chamada `extrair_dominio` que recebe um endere√ßo de email como par√¢metro e retorna apenas o dom√≠nio (parte ap√≥s o @). Use `split()` para dividir o email e extrair o dom√≠nio.

Exemplo:
```python
extrair_dominio("usuario@dominio.com")  # Sa√≠da: "dominio.com"
```

In [67]:
def extrair_dominio (email):
  dominio = email.split("@")
  return print(dominio[1])

extrair_dominio("usuario@dominio.com")

dominio.com

## Exerc√≠cio 20:

Construa um c√≥digo que altera um n√∫mero de telefone no formato "61997351520" para o formato "(61) 99735-1520".

Exemplo:
```python
altera_telefone(61997351520)  # Sa√≠da: "(61) 99735-1520"
```

In [74]:
def altera_telefone(tel):
  tel = str(tel)
  ddd = tel[0:2]
  x = tel[2:7]
  y = tel[7:]
  return print(f"({ddd}) {x}-{y}")

altera_telefone(61997351520)

(61) 99735-1520

## Exerc√≠cio 21:

Crie uma express√£o regular que valide CEPs no formato XXXXX-XXX, onde X √© um d√≠gito. Escreva uma fun√ß√£o validar_cep que recebe uma string e retorna True se o CEP for v√°lido, caso contr√°rio, False.

```python
validar_cep("12345-678")  # True
validar_cep("1234-678")   # False
```

In [76]:
import re

def validar_cep(cep):
  padrao = r"\d{5}-\d{3}"
  if re.fullmatch(padrao, cep):
    print("true")
  else:
    print("false")

validar_cep("12345-678")
validar_cep("1234-678")

true
false

## Exerc√≠cio 22:

Crie uma fun√ß√£o que verifica se placas de carro est√£o no formato antigo brasileiro (AAA-1234), onde A √© uma letra mai√∫scula e 1-4 s√£o n√∫meros.

Exemplo:

```python
verifica_placa("PHL-2526") # True
verifica_placa("AAB9E81")  # False
```

In [78]:
def verifica_placa(placa):
  padrao = "[A-Z]{3}-\d{4}"
  if re.fullmatch(padrao, placa):
    print("true")
  else:
    print("false")

verifica_placa("PHL-2526") # True
verifica_placa("AAB9E81")

true
false

## Exerc√≠cio 23

a) Crie um array de zeros com forma 3x3.

b) Crie um array com n√∫meros de 1 a 20, com passo de 3.

In [83]:
import numpy as np

x = np.zeros((3,3))
print(x)

y = np.arange(1,20,3)
print(y)

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[ 1  4  7 10 13 16 19]

## Exerc√≠cio 24

* Crie um array com os valores `[10, 20, 30, 40, 50]`.
* Subtraia `5` de cada elemento e, em seguida, eleve ao quadrado cada valor.
* Apresente o vetor com a soma das colunas.

In [85]:
x = np.array([10, 20, 30, 40, 50])
x -= 5
print(x)
x **= 2
print(x)

print(x.sum(axis=0))

[ 5 15 25 35 45]
[  25  225  625 1225 2025]
4125

## Exerc√≠cio 25

* Crie um array 3x3 com valores de 1 a 9.
* Extraia a segunda linha.
* Extraia o √∫ltimo elemento da primeira linha.

In [89]:
x = np.arange(1,10).reshape(3,3)
print(x)

print(x[1, :])
print(x[0,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[4 5 6]
3

## Exerc√≠cio 26

1. Crie dois arrays 1D, `a` e `b`, com valores de 1 a 5 e de 6 a 10, respectivamente.
1. Empilhe `a` e `b` verticalmente para formar um array 2D.
1. Em seguida, empilhe `a` e `b` horizontalmente para formar um array 1x10.

Dica: Use np.vstack() para empilhamento vertical e np.hstack() para empilhamento horizontal.

In [92]:
a = np.arange(1, 6)
b = np.arange(6, 11)

print(a)
print(b)
print(np.vstack((a, b)))
print(np.hstack((a, b)))

[1 2 3 4 5]
[ 6  7  8  9 10]
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
[ 1  2  3  4  5  6  7  8  9 10]

## Exerc√≠cio 27

1. Crie uma matriz A de tamanho 4x3 de zeros.
1. Fa√ßa `B=A` e `C=A.copy()`.
1. Verifique se `B` e `C` s√£o os mesmos objetos utilizando `is`.
1. Mostre os id's de `A`, `B` e `C`.
1. Altere um elemento de `A` e veja o que acontece com `B` e com `C`.

In [98]:
a = np.zeros((4,3))
b = a
c = a.copy()

print(b is c)
print(id(a))
print(id(b))
print(id(c))

a[0,0] = 2

print(a)
print(b)
print(c)

False
136780663004816
136780663004816
136780663005488
[[2. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[2. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

## Exerc√≠cio 28:

Crie um vetor do tipo `Series` com:
* as seguintes datas como indices: "2023-01-01", "2023-03-15", "2023-07-20", "2023-12-25".
  * dica: utilize `pd.to_datetime(["2023-01-01", "2023-03-15", "2023-07-20", "2023-12-25"])`
* os seguintes valores:  100, 200, 300, 400

## Exerc√≠cio 29

Crie um `DataFrame` com 3 colunas chamadas `["N√∫mero", "Quadrado", "Cubo"]`. Preencha com os n√∫meros de 1 a 10 na coluna `N√∫mero`, e nas colunas `Quadrado` e `Cubo`, insira os valores correspondentes ao quadrado e ao cubo de cada n√∫mero.

## Exerc√≠cio 30

Considere o seguinte `DataFrame`:
```python
df = pd.DataFrame({
    "Nome": ["Ana", "Bruno", "Clara", "Diego"],
    "Idade": [23, 35, 29, 40],
    "Cidade": ["S√£o Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba"]
})
```
Ent√£o:

1. Selecione apenas a coluna `Idade`.
1. Selecione as colunas ["Nome", "Cidade"].
1. Filtre apenas as linhas onde a idade seja maior que 30.

## Exerc√≠cio 31

Considere o seguinte `DataFrame`:
```python
df = pd.DataFrame({
    "Popula√ß√£o (milh√µes)": [211, 144, 331, 67, 83],
    "PIB (trilh√µes USD)": [1.84, 1.48, 22.68, 2.83, 4.22],
    "Continente": ["Am√©rica", "Asia", "Am√©rica", "Europa", "Europa"]
    },
    index=["Brasil", "R√∫ssia", "Estados Unidos", "Fran√ßa", "Alemanha"])
```
Ent√£o:

1. Selecione as linhas correspondentes a "Brasil" e "Alemanha".
1. Use `.loc` para selecionar a popula√ß√£o e o PIB dos "Estados Unidos".
1. Use `.iloc` para selecionar os dados dos dois primeiros pa√≠ses.
1. Use `.isin` para todos os pa√≠ses que est√£o na Am√©rica ou na Asia.

## Exerc√≠cio 32


Considere o seguinte `DataFrame`:
```python
dados = {
    "Produto": ["Notebook", "Celular", "Tablet", "Fone de Ouvido", "Monitor", "Mouse"],
    "Pre√ßo": [2500, 1500, np.nan, 200, 800, 100],
    "Estoque": [10, 5, 2, 50, np.nan, 150],
    "Categoria": ["Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Acess√≥rios", "Perif√©ricos", "Perif√©ricos"],
    "Avalia√ß√£o": [4.5, np.nan, 3.8, 4.2, 3.9, np.nan]
}

df = pd.DataFrame(dados)
```
Ent√£o:

1. Atualize o pre√ßo do produto "Tablet" para 1800.
1. Reduza em 20% o pre√ßo de todos os produtos da categoria "Eletr√¥nicos".
1. Mostre a planilha excluindo as linhas com valores faltantes.
1. Preencha os valores faltantes na coluna Estoque com 0.

## Exerc√≠cio 33

Considere o seguinte `DataFrame`:
```python
dados = {
    "Regi√£o": ["Norte", "Norte", "Sul", "Sul", "Leste", "Leste"],
    "Produto": ["Ma√ß√£", "Banana", "Ma√ß√£", "Banana", "Ma√ß√£", "Banana"],
    "Vendas": [120, 200, 150, 300, 250, 180],
    "Lucro": [30, 50, 25, 70, 60, 40],
    "Desconto (%)": [5, 10, 0, 15, 5, 10],
}
df = pd.DataFrame(dados)
```
Ent√£o:

1. Use `DataFrame.agg()` para calcular, para cada coluna num√©rica do DataFrame:
  * A soma;
  * A m√©dia;
  * O valor m√°ximo;

1. Use `DataFrame.transform()` para criar uma nova coluna chamada *Vendas Normalizadas*, que:
  * Subtraia a m√©dia das vendas de cada valor.
  * Divida pelo desvio padr√£o das vendas.
  
  Dica: Aplique a normaliza√ß√£o (f√≥rmula: $z = (x - m√©dia) / std$) diretamente sobre a coluna *Vendas*.

## Exerc√≠cio 34

Considere o seguinte `DataFrame`:
```python
dados = {
    "Cliente": ["Ana", "bruno", "Carlos", "Diana", "Eduarda", np.nan, "f√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Smartphone", np.nan, "Tablet"],
    "Valor": [3000, 2000, 3000, 1500, 3000, 2000, 1500, 1500],
    "Data": ["2023-01-15", "2023-01-16", np.nan, "2023-02-10", "2023-02-10", "2023-01-16", "2023-02-15", "2023-02-16"],
}
df = pd.DataFrame(dados)
```
Ent√£o:

1. Qual √© o n√∫mero de valores n√£o nulos em cada coluna do DataFrame?
  
  Dica: Utilize o m√©todo `count()`.

1. Qual produto foi vendido mais vezes?
  
  Dica: Utilize o m√©todo `value_counts()` para listar a quantidade de prudutos vendidos e `.idxmax()` para mostrar qual o produto mais vendito.
  
1. Passe a primeira letra do nome de cada cliente para mai√∫scula. Dica: Utilize o m√©todo `str.title()`.

1. Inclua o seguinte dados no final do `df`:
```python
df2 = pd.DataFrame({
    "Cliente": ["Jose", "Paula"],
    "Produto": ["Tablet", "Notebook"],
    "Valor": [1500, 4000],
    "Data": ["2023-03-01", "2023-03-02"],
})
```

## Exerc√≠cio 35


1. Para o c√≥digo abaixo use a fun√ß√£o `merge()` para combinar os dois DataFrames com base na coluna `Produto`.
  * E depois `how="outer"` (uni√£o de todos os dados).  
  * E depois `how="inner"` (interse√ß√£o entre os DataFrames).

2. Para a ultima jun√ß√£o, fa√ßa um agrupamento pela coluna `Produto` e ent√£o selecione as colunas `Quantidade` e `Pre√ßo` e some elas.

```python
import pandas as pd

# DataFrame de produtos vendidos
vendas = pd.DataFrame({
    "Cliente": ["Ana", "Bruno", "Carlos", "Diana", "Eduarda", "F√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Mouse", "Smartphone"],
    "Data": ["2023-01-15", "2023-01-16", "2023-01-16", "2023-02-10", "2023-02-10", "2023-02-15", "2023-02-16"],
    "Quantidade": [1, 2, 1, 1, 3, 2, 1],
})

# DataFrame com os pre√ßos dos produtos
precos = pd.DataFrame({
    "Produto": ["Notebook", "Smartphone", "Tablet"],
    "Pre√ßo": [3000, 2000, 1500],
})

print("DataFrame de vendas:")
print(vendas)

print("\nDataFrame de pre√ßos:")
print(precos)
```

In [103]:
import pandas as pd

# DataFrame de produtos vendidos
vendas = pd.DataFrame({
    "Cliente": ["Ana", "Bruno", "Carlos", "Diana", "Eduarda", "F√°bio", "Gabriela"],
    "Produto": ["Notebook", "Smartphone", "Notebook", "Tablet", "Notebook", "Mouse", "Smartphone"],
    "Data": ["2023-01-15", "2023-01-16", "2023-01-16", "2023-02-10", "2023-02-10", "2023-02-15", "2023-02-16"],
    "Quantidade": [1, 2, 1, 1, 3, 2, 1],
})

# DataFrame com os pre√ßos dos produtos
precos = pd.DataFrame({
    "Produto": ["Notebook", "Smartphone", "Tablet"],
    "Pre√ßo": [3000, 2000, 1500],
})

print("DataFrame de vendas:")
print(vendas)

print("\nDataFrame de pre√ßos:")
print(precos)

print(pd.merge(vendas, precos, how = "outer"))
print(pd.merge(vendas, precos, how = "inner"))

x = pd.merge(vendas, precos, how = "inner")
print(x.groupby("Produto")[["Quantidade", "Pre√ßo"]].sum())

DataFrame de vendas:
    Cliente     Produto        Data  Quantidade
0       Ana    Notebook  2023-01-15           1
1     Bruno  Smartphone  2023-01-16           2
2    Carlos    Notebook  2023-01-16           1
3     Diana      Tablet  2023-02-10           1
4   Eduarda    Notebook  2023-02-10           3
5     F√°bio       Mouse  2023-02-15           2
6  Gabriela  Smartphone  2023-02-16           1

DataFrame de pre√ßos:
      Produto  Pre√ßo
0    Notebook   3000
1  Smartphone   2000
2      Tablet   1500
    Cliente     Produto        Data  Quantidade   Pre√ßo
0     F√°bio       Mouse  2023-02-15           2     NaN
1       Ana    Notebook  2023-01-15           1  3000.0
2    Carlos    Notebook  2023-01-16           1  3000.0
3   Eduarda    Notebook  2023-02-10           3  3000.0
4     Bruno  Smartphone  2023-01-16           2  2000.0
5  Gabriela  Smartphone  2023-02-16           1  2000.0
6     Diana      Tablet  2023-02-10           1  1500.0
    Cliente     Produto        Data  Quantidade  Pre√ßo
0       Ana    Notebook  2023-01-15           1   3000
1     Bruno  Smartphone  2023-01-16           2   2000
2    Carlos    Notebook  2023-01-16           1   3000
3     Diana      Tablet  2023-02-10           1   1500
4   Eduarda    Notebook  2023-02-10           3   3000
5  Gabriela  Smartphone  2023-02-16           1   2000
            Quantidade  Pre√ßo
Produto
Notebook             5   9000
Smartphone           3   4000
Tablet               1   1500

## Exerc√≠cio 36

Considere o seguinte conjunto de dados:
```python
import pandas as pd
import numpy as np

# DataFrame para os exerc√≠cios
dados = {
    "Produto": ["Notebook", "Notebook", "Smartphone", "Smartphone", "Tablet", "Tablet"],
    "Regi√£o": ["Norte", "Sul", "Norte", "Sul", "Norte", "Sul"],
    "Ano": [2023, 2023, 2024, 2024, 2023, 2024],
    "Vendas": [5000, 4500, 3000, 3500, 2000, 2500],
    "Lucro": [1000, 900, 800, 850, 300, 400],
}

df = pd.DataFrame(dados)
print(df)
```

Ent√£o:

1. Aplique `stack()` no DataFrame original e observe como ele transforma as colunas em um √≠ndice.

  Pergunta: Qual a principal diferen√ßa entre o DataFrame antes e depois de usar `stack()`?

2. A partir do resultado de `stack()`, use `unstack()` para reorganizar os dados. Experimente utilizar os n√≠veis de √≠ndice (0, 1 ou nomeados).

3. Crie uma tabela din√¢mica que mostre o lucro m√©dio (Lucro) por "Produto" e "Regi√£o". Use `aggfunc="mean"`.

  Pergunta: Como a fun√ß√£o de agrega√ß√£o afeta os dados?

4. Adicione margens (totais) √† tabela din√¢mica do exerc√≠cio anterior, usando o par√¢metro `margins=True`.

In [105]:
import pandas as pd
import numpy as np

# DataFrame para os exerc√≠cios
dados = {
    "Produto": ["Notebook", "Notebook", "Smartphone", "Smartphone", "Tablet", "Tablet"],
    "Regi√£o": ["Norte", "Sul", "Norte", "Sul", "Norte", "Sul"],
    "Ano": [2023, 2023, 2024, 2024, 2023, 2024],
    "Vendas": [5000, 4500, 3000, 3500, 2000, 2500],
    "Lucro": [1000, 900, 800, 850, 300, 400],
}

df = pd.DataFrame(dados)
print(df)

print(df.stack())
print(df.unstack())
print(df.unstack(0))
print(df.unstack(1))

      Produto Regi√£o   Ano  Vendas  Lucro
0    Notebook  Norte  2023    5000   1000
1    Notebook    Sul  2023    4500    900
2  Smartphone  Norte  2024    3000    800
3  Smartphone    Sul  2024    3500    850
4      Tablet  Norte  2023    2000    300
5      Tablet    Sul  2024    2500    400
0  Produto      Notebook
   Regi√£o          Norte
   Ano              2023
   Vendas           5000
   Lucro            1000
1  Produto      Notebook
   Regi√£o            Sul
   Ano              2023
   Vendas           4500
   Lucro             900
2  Produto    Smartphone
   Regi√£o          Norte
   Ano              2024
   Vendas           3000
   Lucro             800
3  Produto    Smartphone
   Regi√£o            Sul
   Ano              2024
   Vendas           3500
   Lucro             850
4  Produto        Tablet
   Regi√£o          Norte
   Ano              2023
   Vendas           2000
   Lucro             300
5  Produto        Tablet
   Regi√£o            Sul
   Ano              2024
   Vendas           2500
   Lucro             400
dtype: object
Produto  0      Notebook
         1      Notebook
         2    Smartphone
         3    Smartphone
         4        Tablet
         5        Tablet
Regi√£o   0         Norte
         1           Sul
         2         Norte
         3           Sul
         4         Norte
         5           Sul
Ano      0          2023
         1          2023
         2          2024
         3          2024
         4          2023
         5          2024
Vendas   0          5000
         1          4500
         2          3000
         3          3500
         4          2000
         5          2500
Lucro    0          1000
         1           900
         2           800
         3           850
         4           300
         5           400
dtype: object
Produto  0      Notebook
         1      Notebook
         2    Smartphone
         3    Smartphone
         4        Tablet
         5        Tablet
Regi√£o   0         Norte
         1           Sul
         2         Norte
         3           Sul
         4         Norte
         5           Sul
Ano      0          2023
         1          2023
         2          2024
         3          2024
         4          2023
         5          2024
Vendas   0          5000
         1          4500
         2          3000
         3          3500
         4          2000
         5          2500
Lucro    0          1000
         1           900
         2           800
         3           850
         4           300
         5           400
dtype: object
Produto  0      Notebook
         1      Notebook
         2    Smartphone
         3    Smartphone
         4        Tablet
         5        Tablet
Regi√£o   0         Norte
         1           Sul
         2         Norte
         3           Sul
         4         Norte
         5           Sul
Ano      0          2023
         1          2023
         2          2024
         3          2024
         4          2023
         5          2024
Vendas   0          5000
         1          4500
         2          3000
         3          3500
         4          2000
         5          2500
Lucro    0          1000
         1           900
         2           800
         3           850
         4           300
         5           400
dtype: object

## Exerc√≠cio 37

Considere o seguinte c√≥digo:

```python
import pandas as pd
import numpy as np

# S√©rie temporal di√°ria para janeiro de 2023
dias = pd.date_range(start="2023-01-01", end="2023-01-31", freq="D")
serie = pd.Series(np.random.randint(10, 100, len(dias_janeiro)), index=dias)
print("S√©rie Temporal:\n", serie)
```

Ent√£o para o objeto `serie`:

1. Construa uma s√©rie semanal tomando os valores m√°ximos de cada semana.

2. Construa uma s√©rie semanal tomando os valores m√©dios de cada semana.

3. Inclua o fuso hor√°rio "America/Sao_Paulo".

4. Apresente o gr√°fico das duas s√©ries temporais.

## Exerc√≠cio 38

Considere o seguinte c√≥digo que construi um dataframe representando vendas de um loja de eletr√¥nicos:

```python
import pandas as pd
import numpy as np

# Criando um DataFrame de exemplo
dados = {
    "Produto": ["Notebook", "Smartphone", "Tablet", "Notebook", "Smartphone", "Tablet", "Notebook", "Smartphone", "Tablet", "Notebook"],
    "Loja": ["Loja A", "Loja B", "Loja C", "Loja A", "Loja B", "Loja C", "Loja A", "Loja B", "Loja C", "Loja A"],
    "Vendas": [1500, 2000, 1000, 1800, 2200, 1200, 1700, 2100, 1300, 1600],
    "Ano": [2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023, 2023],
    "Categoria": ["Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos", "Eletr√¥nicos"],
}

df = pd.DataFrame(dados)

print("Conjunto de Dados de Vendas:")
print(df)

```

Ent√£o para o objeto `serie`:

1. Converta as colunas "Loja" e "Produto" para categ√≥ricas.

2. Fa√ßa a coluna "Produto" ter a seguinte ordem: "Tablet", "Smartphone", "Notebook".

3. Calcule a quantidade de ocorr√™ncias de cada n√≠vel da coluna "Loja" usando `value_counts()`.

4. Crie uma nova coluna categ√≥rica ordinal chamada `Categoria_Vendas`, onde ser√° categorizado para "Alto", "M√©dio" ou "Baixo", com base nos seguintes crit√©rios:
  * "Alto": Vendas > 2000
  * "M√©dio": 1500 <= Vendas <= 2000
  * "Baixo": Vendas < 1500.

5. Transforme em dummies as vari√°veis `Produto` e  `Categoria_Vendas`.