<a href="https://colab.research.google.com/github/natashanuto/CEE2/blob/main/trabalho_parte1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho Final: Parte 1
##### Nome: Natasha Nuto
##### Matrícula: 232014852

In [18]:
import requests
import pandas as pd

data_inicial = "12/04/2023"
data_final = "12/05/2023"
url = f"https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json&dataInicial={data_inicial}&dataFinal={data_final}"

response = requests.get(url)

if response.status_code == 200:
  taxa = response.json()

  df = pd.DataFrame(taxa)
  display(df)

else:
  print("Erro ao acessar API do Banco Central.")


print(df.dtypes)
df['valor'] = pd.to_numeric(df['valor'])

df["Taxa Anual"] = ((1 + df["valor"])**252) - 1
print(df)

[{'data': '12/04/2023', 'valor': '0.050788'},
 {'data': '13/04/2023', 'valor': '0.050788'},
 {'data': '14/04/2023', 'valor': '0.050788'},
 {'data': '17/04/2023', 'valor': '0.050788'},
 {'data': '18/04/2023', 'valor': '0.050788'},
 {'data': '19/04/2023', 'valor': '0.050788'},
 {'data': '20/04/2023', 'valor': '0.050788'},
 {'data': '24/04/2023', 'valor': '0.050788'},
 {'data': '25/04/2023', 'valor': '0.050788'},
 {'data': '26/04/2023', 'valor': '0.050788'},
 {'data': '27/04/2023', 'valor': '0.050788'},
 {'data': '28/04/2023', 'valor': '0.050788'},
 {'data': '02/05/2023', 'valor': '0.050788'},
 {'data': '03/05/2023', 'valor': '0.050788'},
 {'data': '04/05/2023', 'valor': '0.050788'},
 {'data': '05/05/2023', 'valor': '0.050788'},
 {'data': '08/05/2023', 'valor': '0.050788'},
 {'data': '09/05/2023', 'valor': '0.050788'},
 {'data': '10/05/2023', 'valor': '0.050788'},
 {'data': '11/05/2023', 'valor': '0.050788'},
 {'data': '12/05/2023', 'valor': '0.050788'}]

data     object
valor    object
dtype: object
          data     valor     Taxa Anual
0   12/04/2023  0.050788  264122.068259
1   13/04/2023  0.050788  264122.068259
2   14/04/2023  0.050788  264122.068259
3   17/04/2023  0.050788  264122.068259
4   18/04/2023  0.050788  264122.068259
5   19/04/2023  0.050788  264122.068259
6   20/04/2023  0.050788  264122.068259
7   24/04/2023  0.050788  264122.068259
8   25/04/2023  0.050788  264122.068259
9   26/04/2023  0.050788  264122.068259
10  27/04/2023  0.050788  264122.068259
11  28/04/2023  0.050788  264122.068259
12  02/05/2023  0.050788  264122.068259
13  03/05/2023  0.050788  264122.068259
14  04/05/2023  0.050788  264122.068259
15  05/05/2023  0.050788  264122.068259
16  08/05/2023  0.050788  264122.068259
17  09/05/2023  0.050788  264122.068259
18  10/05/2023  0.050788  264122.068259
19  11/05/2023  0.050788  264122.068259
20  12/05/2023  0.050788  264122.068259

| Data       | Taxa Diária |
|------------|----------|
| 12/04/2023 | 0.050788 |
| 13/04/2023 | 0.050788 |
| 14/04/2023 | 0.050788 |
| 17/04/2023 | 0.050788 |
| 18/04/2023 | 0.050788 |
| 19/04/2023 | 0.050788 |
| 20/04/2023 | 0.050788 |
| 24/04/2023 | 0.050788 |
| 25/04/2023 | 0.050788 |
| 26/04/2023 | 0.050788 |
| 27/04/2023 | 0.050788 |
| 28/04/2023 | 0.050788 |
| 02/05/2023 | 0.050788 |
| 03/05/2023 | 0.050788 |
| 04/05/2023 | 0.050788 |
| 05/05/2023 | 0.050788 |
| 08/05/2023 | 0.050788 |
| 09/05/2023 | 0.050788 |
| 10/05/2023 | 0.050788 |
| 11/05/2023 | 0.050788 |
| 12/05/2023 | 0.050788 |